@model databseApp.Models.UserViewModel
@{
    ViewData["Title"] = "Login";
}

<!--
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<form asp-action="UserIndex">

		<label asp-for="Email">Email</label>
		<input asp-for="Email" type="email" name="Email" placeholder="yourname@email.com" required>

		<label asp-for="Password">Password</label>
		<input asp-for="Password" type="password" name="Password" placeholder="password" required>

		<p><input type="submit" value="Login"></p>

		<div class="create-account">
			<a asp-area="" asp-controller="User" asp-action="Create">Create account</a>
		</div>

	</form>
</div>
    -->


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">@ViewData["Title"]</h2>

            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" asp-action="UserIndex">

                    <div class="text-center">
                        <img src="~/shoekin.png" width="300" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email" class="hidden">Email</label>
                        <input class="form-control" asp-for="Email" type="email" name="Email" placeholder="yourname@email.com" required>
                    </div>
                    <div class="mb-3">

                        <label asp-for="Password" class="hidden">Password</label>
                        <input asp-for="Password" type="password" name="Password" placeholder="password" class="form-control" required>
                    </div>
                    <div class="text-center"> <input type="submit" value="Login"></div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                        Not
                        Registered? 		<div class="create-account">
                            <a asp-area="" asp-controller="User" asp-action="Create">Create account</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

